beautifulsoup4
bokeh
bottleneck
cartopy
cython
folium
geoalchemy2
geopandas
jupyterlab
networkx
nodejs
numexpr
numpy
osmnx
pillow
pip
psycopg2
pysal
python == 3.*
rasterio
scikit-learn
scipy
seaborn
xlrd
xlwt
pandana
pylint
yapf
flake8
memory_profiler
