affine==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bidict==0.23.1
bleach==6.2.0
bqplot==0.12.45
branca==0.8.1
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.5.2
Cartopy==0.24.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
colour==0.1.5
comm==0.2.2
contextily==1.6.2
contourpy==1.3.2
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
docutils==0.21.2
earthengine-api==1.5.15
eerepr==0.1.2
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
fastapi==0.109.2
fastjsonschema==2.21.1
folium==0.19.6
fonttools==4.55.8
fpdf2==2.8.3
fqdn==1.5.1
frozenlist==1.6.0
future==1.0.0
GDAL==3.10.3
geemap==0.35.3
GeoAlchemy2==0.17.1
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.40.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.2
gtfs-lite==0.2.1
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==0.13.2
httplib2==0.22.0
httpx==0.25.1
hyperframe==6.1.0
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.19.2
ipython==9.2.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.0
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-events==0.12.0
jupyter-leaflet==0.19.2
jupyter-lsp==2.2.5
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.7
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
lxml==5.4.0
mapclassify==2.8.1
markdown2==2.5.3
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mercantile==1.2.1
mistune==3.1.3
multidict==6.4.4
munkres==1.1.4
narwhals==1.40.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.4.2
nicegui==2.16.1.dev0
notebook_shim==0.2.4
numexpr==2.10.2
numpy==1.26.4
openpyxl==3.1.5
orjson==3.10.18
osmnx==2.0.3
overrides==7.7.0
OWSLib==0.33.0
packaging==25.0
pandana==0.7
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.2.1
pip==25.1.1
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
plotly==6.1.1
prometheus_client==0.22.0
prompt_toolkit==3.0.51
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.31.0
pscript==0.7.7
psutil==7.0.0
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
pygeometa==0.16.1
Pygments==2.19.1
pyogrio==0.11.0
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.1
pyshp==2.3.1
PySocks==1.7.1
python-box==7.3.2
python-dateutil==2.9.0.post0
python-engineio==4.12.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
rasterio==1.4.3
ratelim==0.1.6
referencing==0.36.2
requests==2.32.3
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rio-vrt==0.3.1
rpds-py==0.25.1
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.2
scooby==0.10.1
Send2Trash==1.8.3
setuptools==80.8.0
shapely==2.1.1
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
snuggs==1.4.7
soupsieve==2.7
SQLAlchemy==1.4.54
stack_data==0.6.3
starlette==0.36.3
tables==3.10.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.2.1
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
types-python-dateutil==2.9.0.20250516
typing_extensions==4.13.2
typing-inspection==0.4.0
typing_utils==0.1.0
tzdata==2025.2
uharfbuzz==0.50.2
unicodedata2==16.0.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.4.0
uvicorn==0.34.2
vbuild==0.8.2
wait_for2==0.3.2
watchfiles==1.0.5
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
widgetsnbextension==4.0.14
wsproto==1.2.0
xyzservices==2025.4.0
yamllint==1.37.1
yarl==1.20.0
zipp==3.21.0
zstandard==0.23.0
