beautifulsoup4
bokeh
bottleneck
cartopy
contextily         
cython
flake8
folium
geoalchemy2
geopandas
jupyterlab
memory_profiler
networkx
nodejs
numexpr
numpy
osmnx
pandana
pillow
pip
psycopg2
pylint
pysal
python == 3.*
rasterio
scikit-learn
scipy
seaborn
sphinx     
sphinxcontrib-bibtex
sphinx_rtd_theme
urbanaccess
xlrd
xlwt
yapf
