affine==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
anywidget==0.9.18
arabic-reshaper==3.0.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.5
bidict==0.23.1
bleach==6.2.0
bqplot==0.12.45
branca==0.8.1
Brotli==1.1.0
cached-property==1.5.2
cachetools==5.5.2
Cartopy==0.25.0
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
comm==0.2.3
contextily==1.6.2
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
dnspython==2.8.0
docutils==0.22
earthengine-api==1.6.6
eerepr==0.1.2
email-validator==2.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fastapi==0.116.1
fastapi-cli==0.0.10
fastjsonschema==2.21.2
folium==0.20.0
fonttools==4.55.8
fpdf2==2.8.4
fqdn==1.5.1
frozenlist==1.7.0
future==1.0.0
GDAL==3.10.3
geemap==0.36.2
GeoAlchemy2==0.18.0
geocoder==1.38.1
geographiclib==2.1
geopandas==1.1.1
geopy==2.4.1
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-storage==3.3.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.2.4
gtfs-lite==0.2.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.30.0
httptools==0.6.4
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
ifaddr==0.2.0
importlib_metadata==8.7.0
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.30.1
ipyleaflet==0.20.0
ipython==9.5.0
ipython_pygments_lexers==1.1.1
ipytree==0.2.2
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-leaflet==0.20.0
jupyter-lsp==2.3.0
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
lark==1.2.2
lxml==6.0.1
mapclassify==2.10.0
markdown-it-py==4.0.0
markdown2==2.5.4
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mdurl==0.1.2
mercantile==1.2.1
mistune==3.1.4
multidict==6.6.3
munkres==1.1.4
narwhals==2.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
networkx==3.5
nicegui==2.23.3.dev0
notebook_shim==0.2.4
numexpr==2.10.2
numpy==1.26.4
openpyxl==3.1.5
orjson==3.11.3
osmnx==2.0.6
overrides==7.7.0
OWSLib==0.34.1
packaging==25.0
pandana==0.7
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pip==25.2
platformdirs==4.4.0
plotly==6.3.0
prometheus_client==0.22.1
prompt_toolkit==3.0.52
propcache==0.3.1
proto-plus==1.26.1
protobuf==6.32.0
pscript==0.7.7
psutil==7.0.0
psycopg2==2.9.10
psygnal==0.14.1
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pygeometa==0.17.0
Pygments==2.19.2
pyogrio==0.11.0
pyparsing==3.2.3
pyperclip==1.9.0
pyproj==3.7.2
pyshp==3.0.1
PySocks==1.7.1
python-bidi==0.6.6
python-box==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-json-logger==2.0.7
python-multipart==0.0.20
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.1.0
rasterio==1.4.3
ratelim==0.1.6
referencing==0.36.2
requests==2.32.5
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rich-toolkit==0.15.1
rio-vrt==0.3.1
rpds-py==0.27.1
rsa==4.9.1
scikit-learn==1.7.1
scipy==1.16.1
scooby==0.10.1
Send2Trash==1.8.3
setuptools==80.9.0
shapely==2.1.1
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
snuggs==1.4.7
soupsieve==2.8
SQLAlchemy==1.4.54
stack_data==0.6.3
starlette==0.47.3
tables==3.10.2
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli==2.2.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
typer==0.17.4
typer-slim==0.17.4
types-python-dateutil==2.9.0.20250822
typing_extensions==4.15.0
typing-inspection==0.4.1
typing_utils==0.1.0
tzdata==2025.2
uharfbuzz==0.51.4
unicodedata2==16.0.0
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
uvloop==0.21.0
vbuild==0.8.2
wait_for2==0.4.1
watchfiles==1.1.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wheel==0.45.1
widgetsnbextension==4.0.14
wsproto==1.2.0
xyzservices==2025.4.0
yamllint==1.37.1
yarl==1.20.1
zipp==3.23.0
zstandard==0.24.0
